@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;400&display=swap");

:root {
  --main: #272a31;
  --primary: #ee513b;
  --blur: #d3d3d3;
  --blur0: #f0f0f0;
  --blur1: #919191;
  --blur2: #686868;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  color: var(--main);
  background-color: #f1f1f1;
}
main {
  background-image: url("../Images/pictures/mobile-bg.svg");
  background-size: 100%;
  padding-bottom: 8%;
}
header {
  margin: 7%;
}
#drop-menu {
  width: 10%;
  max-width: 40px;
}

header nav {
  min-height: 100vh;
  position: absolute;
  top: 0;
  background-color: var(--main);
  display: none;
}

header nav ul {
  list-style: none;
  padding: 0px;
}
section {
  padding: 0% 7%;
}
header nav ul li {
  margin: 20px 10px;
}

header nav ul li:hover {
  border-bottom: 3px var(--primary) solid;
  padding-bottom: 10px;
}
header nav ul a {
  text-decoration: none;
  color: var(--blur);
  font-size: 1.6rem;
}
header #logo {
  display: none;
}

header nav #close-menu {
  margin: 10px;
}

header nav #close-menu img {
  display: block;
  width: 20%;
  min-width: 20px;
  max-width: 100px;
  margin-left: 100%;
  transform: translate(-100%, 0);
}

/* general selectors*/
.title-3 {
  margin: 0;
  font-size: 0.7rem;
}
.title-1 {
  margin: 0;
  font-weight: 500;
}
.title-2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 200;
}
/* end on general styles*/
/* Home */

#home {
  margin-top: 10%;
}
#home .title-3 {
  margin-bottom: 5px;
  color: var(--primary);
  font-size: 1.3rem;
}
#home .card {
  margin: 15px -5%;
  padding: 12px 10px;
  background-color: var(--blur0);
  color: var(--blur1);
  border-radius: 5px;
  border: 6px solid rgb(255, 255, 255);
}
#home .title-1 {
  margin: 0;
  color: var(--blur2);
}
#home small {
  color: var(--blur2);
}

/*main program's*/
#main-tutors {
  padding: 1% 0%;
  background-image: url("../Images/pictures/strip-background.svg");
  background-size: 100%;
  color: var(--blur0);
  background-color: var(--main);
}
#main-tutors .title-2 {
  text-align: center;
}

#main-tutors hr {
  width: 50px;
  border-color: var(--primary);
}

#main-tutors .card {
  margin: 5%;
  padding: 5%;
  display: flex;
  align-items: center;
  background-color: #74757954;
  justify-content: space-between;
  flex-wrap: wrap;
}
#main-tutors .card .icon {
  width: 10%;
}
#main-tutors .card .title-2 {
  width: 20%;
  min-width: 50px;
}
#main-tutors .card .title-3 {
  font-weight: 200;
  width: 65%;
  min-width: 150px;
}
