@font-face {
  font-family: "COCOGOOSE";
  font-style: normal;
  font-weight: 400;
  src: local("COCOGOOSE"),
    url("https://fonts.cdnfonts.com/s/26936/cocogoose_trial.woff")
      format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
:root {
  --main: #272a31;
  --primary: #ee513b;
  --primaryTransparent: #ee503b9c;
  --blur: #d3d3d3;
  --blur0: #f0f0f0;
  --blur1: #919191;
  --blur2: #686868;
  --blur3: #3b3b3b;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  color: var(--main);
}
.hide {
  display: none;
}
main {
  background-image: url("../Images/pictures/mobile-bg.png");
  background-size: 100%;
  padding-bottom: 8%;
  background-position: center;
  background-color: #f1f1f1;
}
main.about {
  background-image: url("../Images/pictures/about-bg.png");
  background-size: contain;
}

#top-social-media{
  background-color: var(--blur3);
  color: var(--blur0);
  display: flex;
  align-items: center;
  justify-content:end;
  display: none;
}

#top-social-media > *{
  margin: 5px 10px;
}
#top-social-media .icon{
  width: 20px
}
#top-social-media .icon img{
  width: 20px;
}

header {
  padding: 7%;
  font-family: "COCOGOOSE", sans-serif;
}

#drop-menu {
  width: 10%;
  max-width: 30px;
  display: block;
}

header nav {
  animation-name: mobile-navigation-open;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  min-height: 100vh;
  min-width: 50%;
  width: 200px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--main);
}
header nav .remaining {
  position: absolute;
  width: -webkit-fill-available;
  height: 100vh;
  top: 0;
  left: 100%;
  background: linear-gradient(
    90deg,
    rgba(36, 13, 0, 0.46262254901960786) 0%,
    rgba(200, 139, 0, 0.0984768907563025) 93%,
    rgba(212, 149, 0, 0) 100%
  );
  /* margin-right: 100%; */
}

@keyframes mobile-navigation-open {
  0% {
    width: 20%;
    min-width: 20%;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
header nav ul {
  list-style: none;
  padding: 0px;
}
section {
  padding: 0% 7%;
}
header nav ul li {
  margin-bottom: 2px;
  color: var(--blur);
  background-color: #3b3b3b;
}

header nav ul li:hover {
  border-bottom: 3px var(--primary) solid;
  padding-bottom: 10px;
}
header nav ul a {
  padding: 3% 5%;
  display: block;
  text-decoration: none;
  color: inherit;
}
header #logo {
  animation-name: rotate;
  animation-duration: 1s;
  display: none;
  animation-name: rotate;
  /* transform: rotate(30deg); */
}

@keyframes rotate {
  from{
  transform: rotate(-30deg);
  }
  to{
  transform: rotate(0deg);
  }
}

header nav #close-menu {
  margin: 10px;
}

header nav #close-menu img:hover {
  transform: translate(-100%, 0) rotate(-90deg);
}
header nav #close-menu img {
  display: block;
  width: 20%;
  min-width: 20px;
  max-width: 30px;
  margin-left: 100%;
  transform: translate(-100%, 0) rotate(45deg);
  transition: transform 0.5s ease;
}

/* general selectors*/
.title-3 {
  margin: 0;
  font-size: 0.7rem;
}
.title-1 {
  margin: 0;
  font-weight: 500;
  font-family: "COCOGOOSE", sans-serif;
}
.title-2 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}
/* end on general styles*/
/* Home */

#home {
  margin-top: 5%;
}
#home .title-3,
#about-us .title-3 {
  margin-bottom: 5px;
  color: var(--primary);
  font-size: 1.3rem;
}
#home .card {
  animation-name: home-card;
  animation-duration: 0.5s;
  margin: 15px -5%;
  padding: 12px 10px;
  background-color: var(--blur0);
  color: var(--blur1);
  border-radius: 5px;
  border: 6px solid rgb(255, 255, 255);
}

@keyframes home-card {
  from {
    margin-left: 10%;
  }
  60% {
    margin-left: 0;
  }
  to {
    margin-left: unset;
  }
}

#home .title-1 {
  margin: 0;
  color: var(--blur2);
}

#home .title-1 img,
#home .title-3 {
  animation-name: title-image;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes title-image {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#home small {
  color: var(--blur2);
}

/*main program's*/
#main-tutors {
  padding: 8% 0%;
  background-image: url("../Images/Icons/pattern_bg.png");
  color: var(--blur);
  background-color: var(--main);
  max-width: 100%;
  overflow: hidden;
}

hr.short {
  width: 50px;
  border-color: var(--primary);
}
hr.left-tick {
  width: 50px;
  margin-left: 0px;
}
hr.full {
  border-color: rgba(253, 251, 251, 0.342);
}
#main-tutors .card {
  animation-name: rotate-right-left;
  animation-duration: 1s;
  margin: 1% 2%;
  padding: 5%;
  display: flex;
  align-items: center;
  background-color: #74757954;
  justify-content: space-between;
  flex-wrap: wrap;
}

@keyframes rotate-right-left {
  from {
    transform: rotate(20deg);
  }
}


  #main-tutors .card:hover {
    border: solid white 4px;
  }

#main-tutors .card .icon {
  width: 13%;
}

.card .icon img {
  width: 100%;
  min-width: 30px;
}

#main-tutors .card .title-2 {
  width: 20%;
  min-width: 60px;
  color: var(--primary);
  font-size: 1rem;
  font-family: "COCOGOOSE", sans-serif;
}

#main-tutors .title-1 {
  text-align: center;
}

#main-tutors hr {
  margin-bottom: 5%;
}

#main-tutors .card .title-3 {
  width: 65%;
  min-width: 150px;
}

#main-tutors button {
  background-color: var(--primary);
  color: var(--blur0);
  outline: none;
  border: none;
  font-size: 1.5rem;
  margin-top: 5%;
  padding: 5% 12%;
  min-width: max-content;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

/*css for customers section*/

#customers {
  padding: 5%;
  display: grid;
  grid-template-columns: 1;
}
#customers .title-2 {
  text-align: center;
  color: var(--main);
  font-weight: 500;
  font-size: 1.5rem;
}

.reputation {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 30% 70%;
  color: var(--blur3);
}
.reputation:hover {
  box-shadow: 0 0px 10px 5px #c0c0c05e;
  border-radius: 5px;
  padding: 10px;
}

.reputation .text {
  margin-left: 10%;
}
.reputation img {
  width: 100%;
}
.reputation .title {
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0.3rem 0;
}

.reputation .sub-title {
  font-size: 0.7rem;
  color: var(--primary);
  margin: 0;
}

.reputation .content {
  font-size: 0.7rem;
}

#partners {
  padding: 5%;
  margin-top: 5%;
  background-color: var(--main);
  color: var(--blur1);
}
#partners .title-2 {
  text-align: center;
}
footer .partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

footer #copy-right {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #copy-right .logo {
  width: 30%;
}

footer #copy-right .text {
  font-size: 0.7rem;
  width: 60%;
}

#about-us {
  text-align: center;
}

#about-us .title-1 {
  animation-name: in-out;
  animation-duration: 1s;
  color: var(--primary);
  font-weight: 500;
  font-size: 1.6rem;
}
@keyframes in-out {
  from {
    font-size: 1rem;
  }
}
#about-us .card {
  background-color: white;
  padding: 5%;
  margin: 5% 0;
}

#about-us .card p,
#about-us small {
  line-height: 1.5;
}
#about-us .email {
  text-decoration: underline;
}

#more-about {
  padding: 5%;
  text-align: center;
}

#more-about .title-2 {
  font-weight: bold;
}
#more-about .logo-card {
  padding: 10% 12%;
  margin: 5%;
  border: 1px solid var(--blur0);
  color: var(--blur1);
}

#past-graduates {
  margin: 5%;
  text-align: center;
}

#past-graduates .container {
  max-width: 100%;
  max-height: 300px;
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-image: url("../Images/pictures/Graduation1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}

#past-graduates .container:nth-child(2) {
  background-image: url("../Images/pictures/Graduation2.jpg");
}

#past-graduates .content .text {
  margin-top: 50%;
  transform: translate(0, -50%);
  padding: 0 2%;
}
#past-graduates .content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primaryTransparent);
}
#past-graduates .title-1 {
  font-size: 2.5rem;
}

#past-graduates .title-2 {
  font-weight: bold;
}

#past-graduates p {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  main {
    background-image: url("../Images/pictures/main-big.png");
    background-position: center;
  }
  #top-social-media{
    display: flex;
    padding: 0 10%;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: white;
    align-items: center;
    box-shadow: var(--blur) 0px 1px 5px;
  }

  #drop-menu {
    display: none;
  }
  header #logo {
    display: block;
    flex-basis: 20%;
  }
  header nav {
    position: relative;
    min-height: fit-content;
    flex-basis: 70%;
    background-color: unset;
  }

  nav.hide {
    display: block;
  }

  header nav .remaining {
    display: none;
  }
  #close-menu {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  header nav ul li {
    margin: 0;
    padding: 2%;
    color: var(--blur2);
    background-color: transparent;
  }
    header nav ul li:first-child{
      display: none;
    }
  header nav ul li:last-child {
    border: 4px solid var(--primary);
    color: var(--primary);
    flex-shrink: 0;
  }
  header nav ul li a {
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }
  #about-us .title-3 {
    display: none;
  }
  #home {
    padding: 0 10%;
    margin-top: 5%;
  }
  #home .title-3,
  #about-us .title-3 {
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
  #home .card {
    max-width: 50%;
    font-size: 1.4rem;
    padding: 4%;
    margin: 4% 0;
  }

  #home .title-1 {
    font-size: 2rem;
  }

  #home .title-1 img {
    width: 80%;
  }
  #home p {
    font-size: 1.5rem;
  }

  #main-tutors {
    flex-direction: row;
    padding: 5% 10%;
    max-width: 100%;
    overflow: hidden;
  }

  #main-tutors .card {
    flex-direction: column;
    padding: 2%;
    margin: 2px;
    width: 15%;
    min-width: 140px;
  }

  #main-tutors .card-list {
    display: flex;
    flex-wrap: wrap;
  }
  #main-tutors .card .icon {
    width: auto;
    max-width: 110px;
  }

  #main-tutors .card .title-2 {
    font-size: 1.5rem;
    width: auto;
  }
  #main-tutors .card .title-3 {
    width: auto;
    font-size: 1rem;
    text-align: center;
  }

  #main-tutors button {
    background-color: transparent;
    color: white;
    padding: 0;
    margin-top: 5%;
    text-decoration: underline;
  }

  #reputation-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1% 2%;
  }

  #partners .short {
    margin-bottom: 3%;
  }
  footer #copy-right .text {
    font-size: 1rem;
  }

  #about-us {
    padding: 5%;
  }

  #about-us .title-1 {
    font-size: 2.5rem;
  }
  #about-us .card {
    width: 65%;
    margin: auto;
    margin-top: 5%;
  }

  #more-about .logo-card {
    padding: 5% 10%;
    width: 25%;
    margin: auto;
    margin-top: 3%;
  }

  #past-graduates .title-2 {
    font-size: 1.6rem;
    letter-spacing: 5;
  }

  #graduates {
    display: flex;
    justify-content: center;
  }
  #graduates .content {
    height: 300px;
  }
}
